/* .App {
  text-align: center;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to left, rgba(7,27,82,1) 10%, rgba(0,128,128,1) 80%);
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 5% 1rem;
  max-width: 70%;
  justify-content: center;
  margin: auto;
}


.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}
